/*大寫*/

[class~=nav-item] a {
    vertical-align: bottom;
    height: 100%;
    text-transform: uppercase;
}

img {
    text-align: center;
    vertical-align: middle;
}


/*水平置中*/

[class~=nav-item] {
    line-height: 100%;
    height: 200%;
    position: relative;
}


/*字靠左*/

li {
    text-align: left;
}


/*大標*/

h1 {
    position: relative;
    width: 30%;
    color: darkcyan;
}


/*隱藏*/

#uniquename {
    display: none;
}


/*清除格式*/

.clear {
    clear: both;
}

[class~=form-inline] {
    margin-left: 10%;
}

[class~=search] {
    margin-left: 20%;
}

[class~=btn-outline-success] {
    margin: 0% 0.5%;
}

.form-control {
    width: 100%;
    display: block;
    left: 0;
}

[class~=div-left] {
    position: absolute;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.container-fluid {
    /**/
    white-space: nowrap;
}

li:hover {
    text-decoration: underline;
}

.site_search {
    width: 100%;
    margin: auto;
}

.search_input {
    margin-right: 5px;
    height: 30px;
    width: calc(100% - 10px);
    color: darkcyan;
    padding: 4px 10px;
    background: white;
    font-size: 15px;
    vertical-align: middle;
    /**/
    border: none;
    font-size: 10pt;
    float: left;
    padding-left: 15px;
}

.search_btn {
    width: initial;
    height: 30px;
    padding: 8px 25px;
    border-radius: 2px;
    vertical-align: middle;
    outline: none;
    opacity: 1;
    margin-left: -60px;
    float: left;
}


/**/

#button01 {
    display: table;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: darkcyan;
}


/*選單ICON大小*/


/*
.animated-icon2 {
    height: 30px;
    width: 20px;
}

.animated-icon2 span {
    width: 3px;
    height: 30px;
    background-color: black;
}
*/

.container {
    margin: auto;
    text-align: center;
}

[class~=box] {
    position: relative;
    width: 70px;
    /*線條寬度*/
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 0 1%;
    overflow: hidden;
}

[class~=box]:before {
    content: " ";
    display: block;
    padding-top: 100%;
}

[class~=hamburger] {
    width: 40px;
    cursor: pointer;
    border: none;
}

[class~=hamburger] .line {
    display: block;
    width: 90%;
    /*線條長度*/
    height: 4px;
    border-radius: 4px;
    background-color: darkcyan;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}


/*保持寬度*/

#hamburger-1 {
    width: 60px;
    /*大小*/
    margin: 1%;
}

#footer,
nav {
    background-color: rgb(245, 244, 244);
    /*NAV顏色*/
}

#footer {
    height: 20%;
    margin-top: 40%;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    position: relative;
}

#footer p {
    height: 10%;
    line-height: 10%;
    position: relative;
    padding-top: 3%;
    font-size: 70%;
}


/**/

#hamburger-1.active .line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

#hamburger-1.active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.active .line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}


/**/

#search01 {
    background-color: rgb(245, 244, 244);
    margin: 0;
}