[class~=nav-item] a {
    vertical-align: bottom;
    height: 100%;
    text-transform: uppercase;
}

[class~=nav-item] {
    line-height: 100%;
    height: 200%;
    position: relative;
    width: 30%;
}

li {
    text-align: left;
    width: calc(100% - 10px);
}

h1 {
    position: relative;
    width: 30%;
    color: darkcyan;
}

#uniquename {
    display: none;
}

.clear {
    clear: both;
}

[class~=form-inline] {
    margin-left: 10%;
}

[class~=search] {
    margin-left: 20%;
}

[class~=btn-outline-success] {
    margin: 0% 0.5%;
}

.form-control {
    width: 100%;
    display: block;
    left: 0;
}

[class~=div-left] {
    position: absolute;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.container-fluid {
    /**/
    white-space: nowrap;
}

.nav-link:hover {
    text-decoration: underline;
}

.site_search {
    width: 100%;
    margin: auto;
}

.search_input {
    margin-right: 5px;
    height: 30px;
    width: calc(100% - 10px);
    color: darkcyan;
    padding: 4px 10px;
    background: white;
    font-size: 15px;
    vertical-align: middle;
    /**/
    border: none;
    font-size: 10pt;
    float: left;
    padding-left: 15px;
}

.search_btn {
    width: initial;
    height: 30px;
    padding: 8px 25px;
    border-radius: 2px;
    vertical-align: middle;
    outline: none;
    opacity: 1;
    margin-left: -60px;
    float: left;
}


/**/


/*
#button01 {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}*/