/*輪播*/

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item>a {
    display: block;
    height: 100%;
}


/*
.carousel-item {
    height: 500px;
}
*/


/*不固定長寬*/


/*
.carousel-item img {
    height: 100%;
    width: auto;
}
*/


/*保留長寬比*/


/*
.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    max-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}*/


/*
.carousel-item img {
    display: block;
    width: 100%;
    height: 500px;
}*/

h2 {
    font-size: 300%;
    color: darkcyan;
}

.font01 {
    text-align: left;
    margin-left: 1%;
}

.font02 {
    text-align: right;
    margin-right: 1%;
}

img {
    width: 100%;
}

.rol {
    text-align: center;
}

#draw01 {
    text-align: left;
}

#draw02 {
    text-align: right;
}

#dcolor01 h2 {
    background-color: lightgray;
    text-align: right;
    /*文字置中*/
    /*保持高度*/
    position: relative;
    font-size: 250%;
    line-height: 250%;
    margin-top: 15%;
    height: 50%;
    padding-right: 15%;
}

#dcolor02 h2 {
    background-color: lightskyblue;
    color: white;
    text-align: left;
    /*文字置中*/
    /*保持高度*/
    position: relative;
    font-size: 250%;
    line-height: 250%;
    margin-top: 15%;
    height: 50%;
    padding-left: 15%;
}

#dcolor03 h2 {
    background-color: lightgrey;
    text-align: right;
    /*文字置中*/
    /*保持高度*/
    position: relative;
    font-size: 250%;
    line-height: 250%;
    margin-top: 15%;
    height: 50%;
    padding-right: 15%;
}

@media only screen and (min-width: 992px) {
    .img001 {
        width: 120%;
    }
    #dcolor01 h2 {
        background-color: lightgray;
        text-align: right;
        /*文字置中*/
        /*保持高度*/
        position: relative;
        font-size: 250%;
        line-height: 250%;
        margin-top: 15%;
        height: 15%;
        padding-right: 15%;
    }
    #dcolor02 h2 {
        background-color: lightskyblue;
        color: white;
        text-align: left;
        /*文字置中*/
        /*保持高度*/
        position: relative;
        font-size: 250%;
        line-height: 250%;
        margin-top: 15%;
        height: 15%;
        padding-left: 15%;
    }
    #dcolor03 h2 {
        background-color: lightgrey;
        text-align: right;
        /*文字置中*/
        /*保持高度*/
        position: relative;
        font-size: 250%;
        line-height: 250%;
        margin-top: 15%;
        height: 15%;
        padding-right: 15%;
    }
}

#dcolor01 p,
#dcolor03 p {
    text-align: right;
    font-size: 150%;
    margin-right: 20%;
}

#dcolor02 p {
    text-align: left;
    font-size: 150%;
    margin-left: 20%;
}

legend {
    color: darkcyan;
}

#area01,
#message02 {
    width: 100%;
}

@media (min-width: 991px) and (max-width: 1199px) {
    #phoneText {
        width: 70%;
    }
    #sel01 {
        width: 75%;
    }
}

@media only screen and (min-width: 1200px) {
    #sel01 {
        width: 62%;
    }
    #phoneText,
    {
        width: 58%;
    }
}

@media (min-width: 100px) and (max-width: 992px) {
    #sel01,
    #phoneText,
    {
        width: 200%;
    }
}

.input02 {
    color: white;
    background-color: darkcyan;
    border: 1px solid darkcyan;
}

.input02:hover {
    color: darkcyan;
    background-color: white;
}

h3 {
    text-align: center;
    color: darkcyan;
}

.form-group {
    width: 100%;
}

#draw04,
#draw05,
#draw06 {
    margin-top: 20%;
}